body{
    height: 1000px;
    background-color: lightslategrey;
    background-image: linear-gradient(lightblue, rgb(105, 236, 215), rgb(20, 16, 16)) ;
    background-size: cover;
}

#Top{
    font-family:cursive;
    font-weight:bold;
    color:lightcyan;
    text-shadow:2px 2px darkslategrey;
    text-align: center;
} 